{% extends "dataviewer/base.html" %}

{% block page %}

{# h.literal(c.resource_json) #}

{# Next, using the information passed in from the plugin, create the header and rows dynamically. #}

<table class="wet-boew-tables">
  <thead>
    <tr>
      <th>Department</th>
      <th>Year</th>
      <th>Month</th>
      <th>Request Number</th>
      <th>Summary</th>
      <th>Disposition</th>
      <th>Number of Pages</th>
      <th>Contact Inf</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00186</td>
      <td>"All records including emails, handwritten notes, memos, directives, and briefing materials about Member of Parliament pensions, including material about possible reductions from May 1, 2011 to May 1, 2012.",</td>
      <td>Disclosed in part</td>
      <td>129</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
    <tr>
      <td>Treasury Board of Canada Secretariat,</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00283</td>
      <td>"Complete copy of all correspondence, letters written and received by the President of the Treasury Board from June 1, to July 31, 2012."</td>
      <td>Disclosed in part</td>
      <td>98</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00302</td>
      <td>"Emails and other correspondence between the offices of the Assistant Deputy Minister, Governance, Planning and Policy, the Secretary and the Office of the President regarding a memo entitled ""Use of Positive Employment Equity Measures.”"</td>
      <td>Disclosed in part</td>
      <td>37</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00360</td>
      <td>Pension Transfer Agreement between the Professional Institute of the Public Service of Canada and the Government of Canada for the period of 2009 to 2012.</td>
      <td>Disclosed in part</td>
      <td>41</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00373</td>
      <td>"Internal government communications since early 2006 about the strategy, rationale, deliberation and/or execution of external public communications materials using the Prime Minister’s personal name, for instance, any information discussing Harper Government."</td>
      <td>Disclosed in part</td>
      <td>66</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00375</td>
      <td>"Internal government communications and files, such as emails, PowerPoint decks and memos since early 2006 about the “plain language” policy requirement of the Communications Policy of the Government of Canada."</td>
      <td>Disclosed in part</td>
      <td>67</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00522</td>
      <td>The contract of insurance and the terms and conditions between the Public Service Management Insurance Plan Board of Trustees and the Industrial Alliance Insurance and Financial Services Inc. Company of Canada.</td>
      <td>All disclosed</td>
      <td>105</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00544</td>
      <td>"Treasury Board guidelines or correspondence standards for writing briefing notes, including House Notes."</td>
      <td>All disclosed</td>
      <td>5</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00547</td>
      <td>"List of contract deliverables for: Frank White 2406213021; Price Waterhouse 44101131; Barry Power 2741151202; William Trochim 2406212486; Deloitte 2406213013, 2406212395; Michael Joyce 2406212487 for 2011–12."</td>
      <td>All disclosed</td>
      <td>1</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00559</td>
      <td>Federal government's latest internal policies describing the directions on the protocols and practice of public relations and communications between the Access to Information branch and the public relations / communications branch of the Treasury Board Secretariat.</td>
      <td>Disclosed in part</td>
      <td>10</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
    <tr>
      <td>Treasury Board of Canada Secretariat</td>
      <td>2013</td>
      <td>January</td>
      <td>A-2012-00560</td>
      <td>"All documents outlining the total cost of cell phone/smart phone bills paid by the department, including the name of the providers for fiscal year 2010, 2011 and 2012."</td>
      <td>All disclosed</td>
      <td>1</td>
      <td>"Access to Information and Privacy Office; Treasury Board of Canada Secretariat; 140 O'Connor Street; 8th Floor, East Tower; L'Esplanade Laurier; Ottawa, Ontario; K1A 0R5"</td>
    </tr>
  </tbody>
</table>

{% resource 'ckanext-wet/wet_base' %} 
{% resource 'ckanext-wet/ckan' %}
      
{% endblock %}