{% extends "dataviewer/base.html" %}

{% block page %}

{# h.debug_inspect(c['dsfields']) #}
{# h.debug_inspect(c['dsrecords']) #}

{# Next, using the information passed in from the plugin, create the header and rows dynamically. #}


<table class="wet-boew-tables">
  <thead>
    <tr>
      {% for field_name in c['dsfields'] %}
        <th>{{field_name['id']}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for ds_rec in c['dsrecords'] %}
      <tr>
        {% for field_name in c['dsfields'] %}
          <td>{{ ds_rec[field_name['id']] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% resource 'ckanext-wet/wet_base' %} 
{% resource 'ckanext-wet/ckan' %}
      
{% endblock %}